.hatched-egg
{
    background: url(../images/songbird.png) no-repeat;
    background-position:center;
    height: 128px;
    width: 128px;
    text-align: center;
    vertical-align: middle;
    line-height: 128px; 
    margin-left: auto;
    margin-right: auto;
}

.full-egg
{
    background: url(../images/egg.png) no-repeat;
    height: 128px;
    width: 128px;
    text-align: center;
    vertical-align: middle;
    line-height: 128px;
    margin-left: auto;
    margin-right: auto; 
}

input.ng-invalid
{
    background-color: pink;
}

input.ng-valid
{
    background-color: lightgreen;
}

.timer-controls
{
   text-align:center;
}

.image-wrapper {
  width: 50%;
  margin: 0 auto;
  background-position:center;
}